<form id="appForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre de la m&eacute;trica * </label>
    <input id="name" type="text" class="form-control" id="appName" aria-describedby="nameHelp" placeholder="Nombre">
  </div>

  <div class="form-group">
    <label for="exampleTextarea">Descripci&oacute;n</label>
    <textarea class="form-control" id="description" rows="3"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary" id="submit">Crear m&eacute;trica </button>
</form>

<script>

$("#submit").click(function(event){
	if (!validateFormFieldsEmpty(["name"]))
		return;
		
	var data = {name: $("#name").val(), description: $("#description").val()};
    event.preventDefault();
    processForm(data, "http://localhost:8080/metric/", "POST", addSuccess, addError);
});

function addSuccess(){
	$("#appForm")[0].reset();
	showAlert("La M&eacute;trica ha sido guardada con exito", "success");
}

function addError(){
	showAlert("Error al guardar la M&eacute;trica, verifique si ya existe ese nombre", "danger");
}

</script>