<table class="table table-hover table-striped" id="metric">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Aplicaci&oacute;n</th>
        <th>Versi&oacute;n</th>
        <th>Resultado de M&eacute;tricas</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Aplicaci&oacute;n</h4>
	      </div>
	      <div class="modal-body">
	        	<table class="table table-hover table-striped" id="app">
				    <thead>

				    </thead>
				    <tbody>
				    </tbody>
				 </table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	
	  </div>
	</div>
  
  <script>
  var appName = "";
  $(document).ready(function(){
	  getService("http://localhost:8080/testcycle/api/listInfo", loadMetricsTable, 
			 errorFunction);
  });
  
  function loadMetricsTable(data){
	 var table = $("#metric tbody");
	 var tblBody = "";
	 
	 if(data == null)
		 return;
	
	 $.each(data, function(){
		 var tblRow = "";
		 var vname = "";
		 var name= "";
		 var versionId="";
		 var aname="";
		 var appId="";
		 var id = ""
		 $.each(this, function(k , v) {
			 	if (k == "name"){
	        		name = v;
	        	}
	        	if (k == "version_name"){
	        		vname = v;
	        	}
	        	if(k == "version_id"){
	        		versionId = v;
	        	}
	        	if (k == "application_name"){
	        		aname = v;
	        	}
	        	if(k == "application_id"){
	        		appId = v;
	        	}
	        	if(k == "id"){
	        		id = v;
	        	}
	      });
		 tblRow += "<td>" + name +" </td>"+ 
		"<td><button type='button' class='btn btn-info btn-sm open-app' class='version-modal'" +
	  		"data-link='http://localhost:8080/application/"+appId+"' data-toggle='modal' data-target=''#myModal' data-name='"+ aname 
	  		+"'>" + aname+ "</button></td>"+ 
	  	"<td>" + vname+ "</td>" +
	  	"<td><button type='button' class='btn btn-success btn-sm open-metric' class='version-modal'" +
  		"data-link='http://localhost:8080/metricresult/api/metricTestCycle/"+ id + "' data-toggle='modal' data-target=''#myModal' data-name='"+ aname 
  		+"'>Ver resultados</button></td>"
		  
		 tblBody += "<tr>" + tblRow + "</tr>";
	 });
	 table.html(tblBody);
	 initButtonTableElements();

  }
  
  function initButtonTableElements(){
	$(".open-app").click(function(){
		appName = $(this).attr("data-name");
		getService($(this).attr('data-link'), function(data){loadInfoTable(data, 
				"<tr><th>Nombre</th><th>Descripci&oacute;n</th></tr>", true)}, 
				 errorFunction);
	});
	
	$(".open-metric").click(function(){
		appName = $(this).attr("data-name");
		getService($(this).attr('data-link'), function(data){loadInfoTable(data, 
				"<tr><th>M&eacute;trica</th><th>Resultado</th></tr>", false)}, 
				 errorFunction);
	});
	
  }
  
  function loadInfoTable(data, thead, isApp){
	  var table = $("#app tbody");
	  $(table).empty();
	  $("#app thead").html(thead);
	  var tblBody = "";
		if (isApp){
			 var tblRow = "<td>" + data.name + "</td><td>" + (data.description !== null ? data.description : "") + "</td>";
		     tblBody += "<tr>" + tblRow + "</tr>";
			 table.html(tblBody);
			 $("#myModal .modal-title").html("Aplicaci&oacute;n: " + appName);
		 }else{
			$.each(data, function(){
				var name = "";
				var measure = "";
				
				 $.each(this, function(k , v) {
					 	if (k == "name"){
			        		name = v;
			        	}
			        	if (k == "measure"){
			        		measure = v;
			        	}
			      });
				var tblRow = "<td>" + name + "</td><td>" + measure + "</td>";
				tblBody += "<tr>" + tblRow + "</tr>";
				 table.html(tblBody);
				 $("#myModal .modal-title").html("Aplicaci&oacute;n: " + appName);
			})
		 }

		 $('#myModal').modal('show');
  }
  
  
  
  
 
  function errorFunction(element){
	  showAlert("Error al recuperar los datos", "danger")
  }
  
  </script>